#
# This file adds nice features to YACS
#
# More support at http://www.yacs.fr/
#

# redirect to pretty error pages
#
ErrorDocument 401 !!url_to_root!!error.php?error=401
ErrorDocument 403 !!url_to_root!!error.php?error=403
ErrorDocument 404 !!url_to_root!!error.php?error=404

# compress dynamic objects
#
<IfModule mod_deflate.c>

	# compress common textual entities
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE text/calendar
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/xml

</IfModule>

