/**
 * variables for any scss compilation.
 * could be overiden by a tune.scss in your skin folder
 *
 * @see skins/_reference/yacss.scss for usage
 *
 * $author Alexis Raimbault
 * $reference
 * $license http://www.gnu.org/copyleft/lesser.txt GNU Lesser General Public License
 */


////////////
// variables
// 

$color-link               : steelblue !default;                     // color of all links
$color-shadower           : rgba(0,0,0,.3) !default;                // color of effect
$color-enlighter          : rgba(255,255,150,.5) !default;          // color of effect
$color-lesser             : #888 !default;                          // color of effect    

// content tabs
$color-tabs-borders       : #c0c0c0 !default;
$color-tabs               : ghostwhite !default;

// navigation tabs (top menu)
$color-nav-tabs           : lightyellow !default;                   // back of a tabs
$color-nav-back           : rgba(255,255,255,0.6) !default;         // back of whole tabs
$font-size-nav            : 1.3em !default;                         // size of text in tabs
$color-nav-link           : $color-link !default;                   // color of text in tabs
$color-nav-cur-link       : $color-nav-back !default;               // color of text for current tab
$color-nav-cur-bckg       : $color-nav-link !default;               // back of current tab
$border-nav-bottom        : 1px solid $color-tabs-borders !default; // border bottom of <li> element in tab

// buttons
$color-button             : $color-link !default;                   // background-color       (may be overiden by gradient)
$color-button-light       : lighten($color-button, 10%) !default;   // background-color hover (may be overiden by gradient)
$button-shadow            : none !default;
$button-gradient          : none !default;                          // background property
$button-gradient-hover    : none !default;                          // background property
$button-radius-top-left   : 0 !default;
$button-radius-bot-right  : 0 !default;
$button-radius-top-right  : 0 !default;
$button-radius-bot-left   : 0 !default;
$button-border            : none !default;
$button-padding           : 0.3em 0.5em !default;
$button-margin            : 0.1em 0.2em !default;

// modal window
$color-modal              : #FFF !default;                          // back of modal window

// special block
$caution-color            : indianred !default;
$note-color               : steelblue !default;