/**
* Use this file to specify your scss preprocessor variables
* @see skins/_reference/variables.scss
* @see included/knacss/_config/
*
* $author Alexis Raimbault
* $reference
* $license http://www.gnu.org/copyleft/lesser.txt GNU Lesser General Public License
*/

// $color-link               : red;