
/* 
    Created on : 9 août 2015, 20:38:43
    Author     : Alexis Raimbault
*/

.sor-container {
    position: relative;
    top:0;
    width:600px;
    height:300px;
}

.sor-loading {
    position:absolute;
    top: 0;
    left: 0;
    
}

.sor-slides {
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.sor-caption {
    position: absolute;
    top: 125px;
    left:125px;
    width: 350px;
    height: 50px;
}
